name: Eslint

on: [push]

jobs:
  Eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.Ñ…'
      - run: npm ci
      - run: npm link
      - run: make lint